<div width="100%" style="margin-bottom:7px;">
  <input style="width:70%" type="text" ng-model="$ctrl.textAdd" placeholder="текст">
  <input style="float:right" type="button" ng-click="$ctrl.add()" value="Добавить">
</div>
<div class="lists">
  <table width="100%" cols="2" >
    <tr ng-repeat="elem in $ctrl.obj.elems | filter:$ctrl.obj.filter.find">
      <td><input type="checkbox" ng-model="elem.select"></td>
      <td><div ng-bind="elem.text"></div><hr></td>
    </tr>
  </table>
</div>
<div>
  <div style="margin-top:7px;">
    <input  type="button" ng-click="$ctrl.deleteSelectTodos()" value="Удалить">
  </div>
</div>