<!DOCTYPE HTML>
<html ng-app="app">
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </head>
  <body>
    <div id="todayDate" class="alignCenter" ng-controller="TodayController as TC">
      Сегодня:
      <span ng-bind="TC.today.date"></span>
    </div>
    <hr>
    <div ng-controller="FinderController as Finder">
      <input id="searches" ng-model="Finder.filter.find" type="text" placeholder="Поиск">
      <div id="sort">Сортировка:
        <select ng-model="Finder.filter.order">
          <option value="">без сортировки</option>
          <option value="text">по содержимому</option>
          <option value="complete">по завершенности</option>
          <option value="optional">по важности</option>
          <option value="time">по времени</option>        
        </select>  
      </div>
    </div>
    <hr>
    <div id="mainTodoList">
      <div class="alignCenter">Дела</div>
      <todo-list></todo-list>
    </div>

    <div id="mainMeetings">
      <div class="alignCenter">Встречи</div>
      <meeting-list></meeting-list>
    </div>

    <div id="mainEvents">
      <div class="alignCenter">События</div>
      <event-list></event-list>
    </div>
    
    <script src="js/main.js"></script>
      <script src="js/today.controller.js"></script>
      <script src="js/finder.controller.js"></script>
    <script src="js/service/service.module.js"></script>
      <script src="js/service/load.service.js"></script>
      <script src="js/service/today.service.js"></script>
      <script src="js/service/todo.service.js"></script>
      <script src="js/service/meeting.service.js"></script>
      <script src="js/service/event.service.js"></script>
    <script src="js/todo/todo.module.js"></script>
      <script src="js/todo/todo.component.js"></script>
    <script src="js/event/event.module.js"></script>
      <script src="js/event/event.component.js"></script>
    <script src="js/meeting/meeting.module.js"></script>
      <script src="js/meeting/meeting.component.js"></script>
  </body>
</html>

